body {
    margin:0;
    padding: 0;
    font: 14px "Century Gothic", Futura, sans-serif;
    background-color:#cecece;
}

.title {
    border-radius: 25px;
    box-shadow: 3px 3px 3px 0px rgb(85, 85, 85);
    margin: 1% 25%;
    padding: 5px 12px;
    height: 100%;
    top: 0;
    left: 0;
    color: #333;
    background-color: #ebf9fa;
    text-align: left
}

.sectionContent0 {
    border-radius: 25px;
    box-shadow: 3px 3px 3px 0px rgb(85, 85, 85);
    margin: 1% 25%;
    padding: 5px 12px;
    text-align: left;
    font-size: 14px;
    color: #333;
    background-color:#fdfdfd
}

.sectionTitle {
    text-align: left;
    text-decoration: underline;
    font-size: 18px;
    color: #333;
}

.sectionContent1 {
    border-radius: 25px;
    box-shadow: 3px 3px 3px 0px rgb(85, 85, 85);
    background-color: #ebf9fa;
    margin: 1% 25%;
    padding: 5px 12px;
    text-align: left;
    font-size: 14px;
    color: #333;
}

.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.avatar {
    display: block;
    margin-left: auto;
    width: 10vw;
    margin-right: auto;
    border-radius: 50%;
}