.navul {
    list-style-type: none;
    margin: 0% 0%;
    max-width: 1000px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(40, 44, 80);
    
  }
  
.navli {
    float: left;
    
}
  
.navli a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: rgb(28, 31, 56);
}

.padded {
    margin: 0px 0%;
    background-color: rgb(40, 44, 80);
}